/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";

// Tailwind styles conflicting with PrieNG styles
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}
